@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Cairo', sans-serif;
}

html {
  direction: rtl;
  scroll-behavior: smooth;
}

body {
  background-color: #0f172a;
  color: #f8fafc;
}
